<div class="background" fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
  <!-- Div Vertical da caixa de erro 404-->>
  <div class="error-container" fxLayout="column" fxLayoutAlign="center center">
      <!-- Div dos elementos de dentdo da caixa de erro 404-->
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
          <h1>PAGINA NÃO ENCONTRADA</h1>
          <img src="/assets/images/error404.jpg" alt="Logo Kuehne+Nagel">
          <!-- Fonte da imagem: https://www.pexels.com/pt-br/foto/red-amazon-danbo-em-superficie-de-madeira-marrom-14303/-->
      </div>
  </div>
</div>
