.background {
  background: black;
  height: 100vh; // Estende a coloração do fundo
  width: 100vw; // Estende a coloração do fundo
}

.error-container {
  background: #FFFFFF;
  padding: 0 px;
  height: 500px;
  width: 750px;
}

img {
  width: 65%;
  height: auto;
  padding: 0%;
}

h1{
  font-size: 35px;
  padding-bottom: 30px;
}
