<!-- Div horizontal da caixa de login-->
<div
  class="background"
  fxLayout="row"
  fxFlex="100"
  fxLayoutAlign="center center"
>
  <!-- Div Vertical da caixa de login-->
  <div fxLayout="column" fxLayoutAlign="center center" class="login-container">
    <!-- Div da caixa de login-->
    <div
      class="inner-container"
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="20px"
    >
      <!-- Div dos elementos de dentdo da caixa-->
      <div
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="20px"
        class="full-width"
      >
        <!-- Cabeçalho-->
        <h1 id="loginH1">Login</h1>

        <!-- Form-->
        <form [formGroup]="loginForm" fxLayout="column" class="full-width">
          <!-- input nome -->
          <mat-form-field appearance="outline">
            <mat-label>Usuário</mat-label>
            <input formControlName="login" name="login" matInput />
            <mat-error *ngIf="loginForm.get('login')?.errors?.['login']"
              >Informe um usuario</mat-error
            >
          </mat-form-field>

          <!-- input senha -->
          <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input
              formControlName="password"
              name="password"
              type="password"
              matInput
            />
            <mat-error *ngIf="loginForm.get('password')?.errors?.['password']"
              >Informe uma senha</mat-error
            >
          </mat-form-field>
          <!-- Botão 1: Enviar dados-->
          <button
            mat-flat-button
            class="login-button"
            (click)="onLogin()"
            [disabled]="!loginForm.valid"
          >
            Entrar
          </button>
        </form>
        <!-- Fecha div da caixa de login-->
      </div>
      <!-- Fecha card caixa de login-->
    </div>
    <!-- Fecha div Vertical da caixa de login-->
  </div>
  <!-- Fecha div horizontal da caixa de login-->
</div>
