@use "@angular/material" as mat;

@include mat.core();

@import "variables.scss";
@import "@angular/material/theming";
@include mat-core();

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.primary-color {
  color: $primary;
}

.accent-color {
  color: $accent;
}

.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #000000 !important;
}
